USE [master]
GO
/****** Object:  Database [Cursos]    Script Date: 01/11/2023 0:33:39 ******/
CREATE DATABASE [Cursos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cursos', FILENAME = N'/var/opt/mssql/data/Cursos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cursos_log', FILENAME = N'/var/opt/mssql/data/Cursos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cursos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cursos]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 01/11/2023 0:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tratamiento] [varchar](10) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
	[nombre] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[apellidos] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[telefono] [nvarchar](11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[email] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sexo] [char](1) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
	[nacimiento] [date] NULL,
	[avatar] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[conflictivo] [bit] NOT NULL,
	[icono] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Contactos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01/11/2023 0:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[descripcion] [nvarchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesUsuario]    Script Date: 01/11/2023 0:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesUsuario](
	[idUsuario] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[idRol] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_RolesUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC,
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/11/2023 0:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[password] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[nombre] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[roles] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contactos] ON 

GO
SET IDENTITY_INSERT [dbo].[Contactos] OFF
GO
INSERT [dbo].[Roles] ([idRol], [descripcion]) VALUES (N'Administradores', N'Administradores')
INSERT [dbo].[Roles] ([idRol], [descripcion]) VALUES (N'Empleados', N'Empleados')
INSERT [dbo].[Roles] ([idRol], [descripcion]) VALUES (N'Usuarios', N'Usuarios autenticados')
GO
INSERT [dbo].[RolesUsuario] ([idUsuario], [idRol]) VALUES (N'adm@example.com', N'Administradores')
INSERT [dbo].[RolesUsuario] ([idUsuario], [idRol]) VALUES (N'adm@example.com', N'Usuarios')
INSERT [dbo].[RolesUsuario] ([idUsuario], [idRol]) VALUES (N'admin', N'Administradores')
GO
INSERT [dbo].[Usuarios] ([idUsuario], [password], [nombre], [roles]) VALUES (N'adm@example.com', N'$2b$10$5i7NYY8y3qmK3bmLmU8uMOHTawhPq7ddD7F6SfOf9ZKz76V8XssM6', N'Administrador', N'Usuarios,Administradores')
INSERT [dbo].[Usuarios] ([idUsuario], [password], [nombre], [roles]) VALUES (N'admin', N'$2b$10$5i7NYY8y3qmK3bmLmU8uMOHTawhPq7ddD7F6SfOf9ZKz76V8XssM6', N'Administrador', N'Usuarios,Administradores')
INSERT [dbo].[Usuarios] ([idUsuario], [password], [nombre], [roles]) VALUES (N'demo@example.com', N'$2b$10$hJu8gCqc3LDoghwgLmeBh.PykTJdhPC77IOBUjNsOPDlDigmZns/K', N'Demo', N'Empleados')
GO
ALTER TABLE [dbo].[Contactos] ADD  CONSTRAINT [DF_Contactos_sexo]  DEFAULT ('H') FOR [sexo]
GO
ALTER TABLE [dbo].[Contactos] ADD  CONSTRAINT [DF_Contactos_conflictivo]  DEFAULT ((0)) FOR [conflictivo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_roles]  DEFAULT ('') FOR [roles]
GO
ALTER TABLE [dbo].[RolesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_roles_usuario_roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[RolesUsuario] CHECK CONSTRAINT [FK_roles_usuario_roles]
GO
ALTER TABLE [dbo].[RolesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_roles_usuario_usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[RolesUsuario] CHECK CONSTRAINT [FK_roles_usuario_usuarios]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [CK_Contactos_sexo] CHECK  (([sexo]='M' OR [sexo]='H'))
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [CK_Contactos_sexo]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [CK_Contactos_tratamiento] CHECK  (([tratamiento]='Excma.' OR [tratamiento]='Excmo.' OR [tratamiento]='Ilma.' OR [tratamiento]='Ilmo.' OR [tratamiento]='Dra.' OR [tratamiento]='Dr.' OR [tratamiento]='Srta.' OR [tratamiento]='Sra.' OR [tratamiento]='Sr.'))
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [CK_Contactos_tratamiento]
GO
USE [master]
GO
